body,html {
	width: 100%;
	height: 100%;
	margin: 0;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	border-bottom: 1px solid black;
	background-color: gold;
}
li a {
    display: block;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
}
li {
	float: left;
}
li a:hover {
	background-color: orange;
}